@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Zen+Antique&family=Zen+Old+Mincho:wght@700&display=swap');

:root{
    --primary-color: #1F2937;
    --secondary-color:#2563EB;
    --grey-color:#6B7280;
    --offwhite:#E5E7EB;
}
body{
    font-family: 'Montserrat',serif;
}

/** container css**/

.container{
    padding: 0rem 1rem;
}

.center-container
{
max-width: 600px;
margin: auto;
padding: 0.5rem 1rem;
text-align: center;

}


/** links css**/

.link{
     
   
    text-decoration: none;
    padding: 0.5rem 1rem;

}

.primary-link{
background-color: var(--secondary-color);
border-radius: 0.5rem;
color: white;
}

.secondary-link{
    color: var(--secondary-color);
    border-radius: 0.5rem;
    border-color: var(--secondary-color);
    border: 1px solid;
    }
  
/** list css **/

.list-non-bullet{
    list-style: none;

}

.list-item-inline
{
display: inline;
padding: 0rem 0.5rem;
}

/** nav css **/

.navigation
{
    background-color: var(--primary-color);
    color: white;
    padding: 0.15rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--grey-color);

}

.navigation .link{
    color: white; 
}

.navigation .nav-pills
{
    text-align: right;
}


.navigation .active-link{
    background-color: white;
    color: var(--primary-color);
    border-radius: 1rem;
} 

/** header css **/


.hero
{
    padding: 2rem;
}

.hero .hero-image
{
    max-width: 90%;
    display: block;
    margin: auto;
}

.hero .hero-heading
{
    text-align: center;
    color: var(--grey-color);
}

/** section css **/

.section{
    padding: 1rem 0rem;
    padding-bottom: 2rem;
}

.section h2{
    text-align: left;
}

.center-container h2{
    color: var(--secondary-color);
    padding: 1rem 1rem;
    text-align: center;
}

.off-white
{
    background-color: var(--offwhite);
    border-radius: 1rem;
    padding-left: 0rem;
}

/** footers css**/

.footer-header
{
    background-color: var(--grey-color);
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
flex-direction: column;
align-items: center;
justify-content:center;
}

.footer-image
{
    max-width: 40px;
}
.footer-heading
{
    font-size: 10px;
}


/** hover **/

.primary-link:hover 
{
    background-color: rgb(23, 150, 253);
    border-radius: 0.5rem;
    
}

